body {
    background-color: #C0C0C0;
}

#principal{
    background-color: #FFFFFF;
    margin: 0 auto;
    height: 650px !important;
    padding: 0 !important; 
}

#encabezado{
    height: 150px;
    background-color: #000000;
}

#menu{
    height:50px;
    background-color: #ff0000;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
}
#menu ul li a{
    color: white;
}
#menu ul li a:hover{
    color: #C0C0C0;
}

.centrar{
    margin: auto;
}

